**__pycache__/
**.pyc
**.env
!backend/.env
**.log
**.idea/
**.vscode/
**.expo/
backend/venv/
frontend/python-client/
frontend/community/app-example
frontend/community/.git
**/node_modules/
frontend/community/.gitignore
**datadump.sql